<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL8Dialect
        </property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name="hibernate.connection.url">jdbc:mysql://192.168.88.234:3306/banking</property>

        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
            ibmbanking123.
        </property>


        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">0</property>
        <property name="hibernate.c3p0.timeout">0</property>
        <property name="hibernate.c3p0.validate">true</property>

        <property name="connection.autoReconnect">true</property>
        <property name="connection.autoReconnectForPools">true</property>
        <property name="connection.is-connection-validation-required">true</property>

        <mapping class="com.cloud.ibm.banking.IBMBanking.Persistence.Entity.AccountDeal1Entity"/>
        <mapping class="com.cloud.ibm.banking.IBMBanking.Persistence.Entity.AccountInformation0Entity"/>
        <mapping resource="mappings/AccountInformation0Entity.hbm.xml"/>
        <mapping class="com.cloud.ibm.banking.IBMBanking.Persistence.Entity.CustomerInformation0Entity"/>
        <mapping resource="mappings/CustomerInformation0Entity.hbm.xml"/>
        <mapping class="com.cloud.ibm.banking.IBMBanking.Persistence.Entity.FinancialProductEntity"/>
        <mapping resource="mappings/FinancialProductEntity.hbm.xml"/>
        <mapping resource="mappings/AccountDeal1Entity.hbm.xml"/>
        <mapping resource="mappings/AccountDeal1Entity.hbm.xml"/>
        <mapping resource="mappings/AccountFinancialProduct0Entity.hbm.xml"/>
        <mapping class="com.cloud.ibm.banking.IBMBanking.Persistence.Entity.AccountFinancialProduct0Entity"/>

    </session-factory>
</hibernate-configuration>